.module-card {
    width: 18rem;
}

.module-buttons {
    display: flex;
    justify-content: space-between;
}

.module-buttons .btn {
    width: 120px;
}

.module-card-img {
    height: 200px;
    object-fit: cover;
}

.image-container {
    position: relative;
    width: 100px;
    height: 100px;
  }
  
  .image-preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
  }
  
  .image-name {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  
  .image-container:hover .image-preview {
    opacity: 1;
    width: auto; /* Reset the width */
    height: auto; /* Reset the height */
    max-width: 100vw; /* Limit width to viewport width */
    z-index: 9999; /* Bring to front */
  }
  
  .image-container:hover .image-name {
    opacity: 0;
  }